<template>

    <h1>Add Articles</h1>

    <ArticleForm @submit="handleSubmit($event)" />
</template>

<script setup lang="ts">
import {postArticle} from '@/service/article-service'
import type { ArticleEssai } from '@/entities';
import { useRouter } from 'vue-router';
import ArticleForm from '@/components/ArticleForm.vue';

const router = useRouter();
async function handleSubmit(article: ArticleEssai) {
    const added = await postArticle(article);
    router.push("/article/"+added.id);
}

</script>