<template>

 <!-- Service Start -->
 
 <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" :src="article.url"alt="">
                        </div>
                        <div class="p-4 text-center border border-5 border-light border-top-0">
                            <h4 class="mb-3">{{ article.title }}</h4>
                            <p>{{ article.content }}</p>
                            <router-link :to = "'/article/'+article.id" class="fa fa-arrow-right ms-2">  Voir</router-link>
                        </div>
                    </div>
                </div>
    <!-- Service End -->
  


    
</template>


<script setup lang="ts">

import type { ArticleEssai } from '@/entities';

defineProps<{
    article: ArticleEssai;
}>();


</script>