<template>

<div v-if = "categorie">
    <h1> cat : {{ categorie.name }}</h1>
</div>

            <Article v-for="item of articleOfCategorie" :article="item"></Article>

</template>

<script setup lang="ts">
import type { ArticleEssai, CategoryInterface } from '@/entities';
import { fetchOneCategorie } from '@/service/categorie-service';
import { ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import Article from './Article.vue';
import { fetchArticleOfCategorie, fetchOneArticle } from '@/service/article-service';



const route = useRoute();
const categorie = ref<CategoryInterface>();
const article = ref<ArticleEssai>();
const loading = ref(true);
const router = useRouter();


watch(() => route.params.id, async () => {
categorie.value = await fetchOneCategorie(route.params.id);
article.value = await fetchOneArticle(route.params.id);
loading.value = false;
}, {immediate:true});


const articleOfCategorie = ref<ArticleEssai[]>()
watch(() => route.params.id, async () => { 
    articleOfCategorie.value = await fetchArticleOfCategorie(route.params.id);

}, {immediate: true});

</script>