
<template>


  <main>


    <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://img.sport.gentside.com/s3/frgss/1280/mma/default_2023-01-20_c4003711-4069-4543-a4fe-c8d311756d5e.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://acadienouvelle-6143.kxcdn.com/wp-content/uploads/2018/06/ufc-2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://content.api.news/v3/images/bin/89b594ef9f3ffaf1be535ee0806dba47" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <!-- Carousel End -->

    <h1></h1>

    
<div class="container-xxl py-5">
        <div class="container">
            <div class="section-title text-center">
                <h1 class="display-5 mb-5">Our Services</h1>
            </div>
            <div class="row g-4">
    <ArticleVue v-for="item of articles" :article="item"></ArticleVue>

  </div>
</div>
</div>

  </main>
</template>

  <script setup lang="ts">
import { fetchArticle } from '@/service/article-service';
import { onMounted, ref } from 'vue';
import ArticleVue from './Article.vue';
import type { ArticleEssai } from '@/entities';
  
  const articles = ref<ArticleEssai[]>([]);
  console.log(fetchArticle());
  
  onMounted(async () => {
    articles.value = await fetchArticle();
});
  </script>