<template>
    <div v-if="loading">Loading...</div>
    <div v-if="!loading && article">
    <h1>{{ article.title }} <i class="fa-regular fa-pen-to-square" @click="editing = !editing"></i></h1>
    <div v-if="!editing">
        <p>{{ article.content }}</p>
        <img :src="article.url" alt="image phare de l'article">
    </div>
    <ArticleForm v-if="editing && auth.user"  :initial-article="article" @submit="handleSubmit($event)" />
    <button class="btn btn-danger"v-if="auth.user" @click="handleDelete()">Delete</button>
    </div>
</template>

<script setup lang="ts">
import { fetchArticle, fetchOneArticle, updateArticle } from '@/service/article-service';
import type { ArticleEssai } from '@/entities';
import { ref,  watch } from 'vue';
import {  useRoute, useRouter } from 'vue-router';
import { deleteArticle } from '@/service/article-service';
import ArticleForm from '@/components/ArticleForm.vue';
import { useAuth } from '@/stores/auth';


const route = useRoute();
const article = ref<ArticleEssai>();
const loading = ref(true);
const router = useRouter();
const editing = ref(false);
const auth = useAuth();


watch(() => route.params.id, async () => {
    article.value = await fetchOneArticle(route.params.id);
    loading.value = false;
}, {immediate:true});

async function handleDelete() {
    await deleteArticle(article.value?.id);
    router.push('/');
}

async function handleSubmit(updated:ArticleEssai) {
await updateArticle(updated);
article.value = updated;
editing.value = false;
}

</script>
