<template>
    <form @submit.prevent="handleSubmit()">
        <div>
            <label>
                Titre de l'article :
                <input class="form-control" v-model="article.title" type="text" placeholder="Bagarre" required>
            </label>
        </div>
        <div>
            <label>
                Content:
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Contenu de l'article</label>
                    <textarea class="form-control" v-model="article.content" id="exampleFormControlTextarea1" rows="3" placeholder="contenu de l'article"></textarea>
                </div>
            </label>
        </div>
        <div>
            <label>
                Image de l'article :
                <input class="form-control" v-model="article.url" type="text" placeholder="image">
                <img :src="article.url" alt="" >
            </label>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>


</template>

<script setup lang="ts">
import { postArticle } from '@/service/article-service';
import type { ArticleEssai } from '@/entities'
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();


const emit = defineEmits<{
    submit: [article: ArticleEssai]
}>();
const { initialArticle } = defineProps<{
    initialArticle?: ArticleEssai
}>();

const article = ref<ArticleEssai>({
    title: '',
    content: '',
    url: '',
    ...initialArticle
});

async function handleSubmit() {
    emit('submit', article.value);
}

</script>

<style scoped>

    label{
        width: 100%;
    }
</style>