<template>

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <router-link class="navbar-brand" to="/"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/UFC_Logo.png" alt="" style="width:5em"></router-link>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">

                <RouterLink class="nav-link nav-item " active-class="active" aria-current="page" to='/add-article'>Add
                    Article</RouterLink>
                <RouterLink to="/login" v-if="!auth.user" class="nav-item nav-link">Login</RouterLink>
                <button v-if="auth.user" @click="auth.logout()" class="nav-item nav-link">Logout</button>
               
            </div>
            <RouterLink class="btn btn-primary py-4 px-lg-5 d-none d-lg-block" to="/login" v-if="!auth.user">Login
            </RouterLink>
            <button class="btn btn-primary py-4 px-lg-5 d-none d-lg-block" v-if="auth.user"
                @click="auth.logout()">Logout</button>

                

        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <!-- <router-link class="navbar-brand" to="/">Your Logo</router-link> -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li v-for="category in categories" :key="category.id" class="nav-item">
                    <router-link :to="'/categorie/' + category.id" class="nav-link">{{ category.name }}</router-link>
                </li>
            </ul>
            <RouterLink class="nav-link" active-class="active" aria-current="page" to='/add-article'>Add Article
            </RouterLink>
          
        </div>
    </nav>
</template>

<script setup lang="ts">

import { ref, onMounted } from 'vue';
import { fetchCategorie } from '@/service/categorie-service';
import type { CategoryInterface } from '@/entities';
import { useAuth } from '@/stores/auth';

const categories = ref<CategoryInterface[]>([]);
const auth = useAuth();


onMounted(async () => {
    categories.value = await fetchCategorie();
});


</script>






















<style scoped>
.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

.navbar-toggler-icon {
    color: white;
}

.navbar-collapse {
    justify-content: flex-end;

}
</style>