<script setup lang="ts">
import { RouterView } from 'vue-router';
import Header from '@/components/Header.vue';

</script>

<template>


<Header> </Header>

<div class="container-lg">
    <RouterView />
</div>



</template>
